# Ignore Visual Studio temporary files, build results, and
#  user-specific files

.vs/
.vscode/
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono Auto Generated)
mono_crash.*

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Aa]pp_Data/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.vspscc
*.vssscc
*.class
*.csproj.user
*.pfx
*.publishsettings

# Visual Studio Code workspace
*.code-workspace

# Others
.DS_Store
Thumbs.db